@model BookShopAPI.Models.Orders

@{
    ViewBag.Title = "Info";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin chi tiết</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">



                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> BookStore, Inc.
                                <small class="float-right">Ngày đặt: @Model.OrderDate</small><br />
                                @{ var ngayNhan = Model.IdState == 5 ? Model.ReceiveDate.ToString() : "Chưa nhận"; }


                                <small class="float-right">Ngày nhận: @ngayNhan</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <b>Đơn hàng #@Model.Id</b><br>
                            <br>
                            <b>Tên người dùng:</b> @Model.Customer.Name<br>
                            <b>SĐT tài khoản:</b> @Model.Customer.Sdt<br>
                            <b>Email:</b> @Model.Customer.Email
                        </div>
                        <div class="col-sm-4 invoice-col">

                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            Người nhận
                            <address>

                                <strong>@Model.Information.Name</strong><br>
                                Địa chỉ: @Model.Information.Address<br>
                                SĐT: @Model.Information.Sdt<br>
                                Thanh toán: @Model.PaymentMethod
                            </address>
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Mã sách</th>
                                        <th>Tên sách</th>
                                        <th>Nhà xuất bản</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        
                                        var style = "";
                                        if (Model.IdState != 3)
                                        {
                                            style = "display:none;";
                                        }
                                    }
                                    @foreach (var item in Model.DetailOrder)
                                    {

                                        <tr>
                                            <td>@item.IdBook</td>
                                            <td>@item.Book.Name</td>
                                            <td>@item.Book.Publisher.Name</td>
                                            <td>@item.Amount</td>
                                            <td>@item.TotalPrice</td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-6">
                            <p class="lead">Lưu ý:</p>


                            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                @Model.Note
                            </p>
                            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px; color:red !important;@style">
                                Lý do huỷ: @Model.Reason
                            </p>
                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <p class="lead">Thanh toán</p>

                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Thành tiền:</th>
                                        <td>@Model.TotalPrice</td>
                                    </tr>
                                    <tr>
                                        <th>Voucher:</th>
                                        @{ 
                                            var str = "";
                                            if (Model.Voucher != null)
                                            {
                                                str = Model.Voucher.Name + " - " + @Model.Voucher.Discount + "%";

                                            }
                                        }
                                        <td>@str</td>
                                    </tr>
                                    <tr>
                                        <th>Tổng tiền:</th>
                                        <td>@Model.TotalPrice</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- this row will not appear when printing -->

                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


